<div id="sidebar-wrapper" class="sidebar-toggle">
    <ul class="sidebar-nav">
        <div class="onMobileShow">
            <li><a href="/account"><i class="fa fa-user"></i>Account<span class="badge">$30.694407</span></a></li>
        </div>
        <li class="login"><a href="/user/Neworder"><img src="//allrealfans.com/smmwizard/New order.png" alt="New order">New order</a></li>
        <li><a href="/User/MassOrder"><img src="//allrealfans.com/smmwizard/Mass order.png" alt="Mass order">Mass order</a></li>
        <li><a href="/User/Services"><img src="//allrealfans.com/smmwizard/Services.png" alt="Services">Services</a></li>
        <li><a href="/User/orders"><img src="//allrealfans.com/smmwizard/Orders.png" alt="Orders">Orders</a></li>
        <li><a href="/User/subscriptions"><img src="//allrealfans.com/smmwizard/Subscriptions.png" alt="Subscriptions">Subscriptions</a></li>
        <li><a href="/User/addfunds"><img src="//allrealfans.com/smmwizard/Add funds.png" alt="Add funds">Add funds</a></li>
        <li><a href="/User/faq"><img src="//allrealfans.com/smmwizard/FAQ.png" alt="FAQ">FAQ</a></li>
        <li><a href="/User/terms"><img src="//allrealfans.com/smmwizard/Terms.png" alt="Terms">Terms</a></li>
        <div class="onMobileShow">
            <li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
        </div>
    </ul>
</div>
